header{
    color: black;
    text-align: center;
    size: 50px;
}

img{
    width: 200px;
    height: 200px;
    border-style: groove;
    border-color: coral;
    border-width: 7px
}

ul{
    color: olivedrab;
}

div{
    width: 400px;
    height: 400px;
}



